
body {
  background-color: #fff8e1;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 100px;
    padding-top: 2px;
    padding-left: 10px;
    border-radius: 60%;
    height: 80px;
}



.nav-items > ul{
    display: flex;
    font-size: 18px;
    list-style-type: none;

}

.nav-items > ul > li{
    padding: 0px 20px;
    margin: 10px;
}

.login{
    padding: 0 20px;
    border-radius: 60px;
    cursor: pointer;
    color: white;
    background-color: black;
    margin-right: 10px;
}

.filter{
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 120px;
}

.res-container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.res-card{
    width: 230px;
    padding: 5px;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

a {
  text-decoration: none;  
  color: inherit;         
}


.res-card img:hover{
    cursor: pointer;
    border: 2px solid yellow;
    transition: all 0.3s ease;
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}


.res-logo{
    width: 230px;
    height: 180px;
    border-radius: 20px;
}

.shimmer-container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.shimmer-card{
    width:230px;
    height:400px;
    background-color: #fff1c4;
    padding-top: 10px;
    padding: 5px;
    border-radius: 20px;
}

/* usercard */

.user-card{
    padding:10px;
    border: 1px solid black;
}

